/* font-family: 'Anton', sans-serif;

font-family: 'Indie Flower', cursive; */
*{
    box-sizing: border-box;
}
body{
    background:lightgray;
    padding:0px;
}
header{
    font-family: 'Dancing Script', cursive;
    background-color: white;
}
header h1{
    margin-top: 10px;
    padding-left: 10px;
    
}
#show{
    float: left

}
header p{
    font-family: 'Anton', sans-serif;
    margin-bottom: 10px;
}